textarea{
    min-height: 250px;
}
em{
    color: red;
}
.piz_kep{
    width: 180px;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
}
.thumbnail{
    cursor: pointer;
}