<h3>Pizzák kezelése</h3>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#formModal">
    <i class="bi bi-plus-circle-fill"></i> Új pizza hozzáadása
</button>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Kép</th>
            <th>Megnevezés</th>
            <th>Leírás</th>
            <th class="text-end">Kalória</th>
            <th class="text-end">Ár</th>
            <th class="text-end">Műveletek</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pizza of pagedPizza; let i = index">
            <td>{{i+1}}.</td>
            <td><img class="piz_kep thumbnail" src="{{serverUrl}}/uploads/{{pizza.image}}" alt="{{pizza.name}}" (click)="openLightBox(pizza.image)"></td>
            <td>{{pizza.name}}</td>
            <td>{{pizza.description}}</td>
            <td class="text-end">{{pizza.calory | numberFormat}} kcal</td>
            <td class="text-end">{{pizza.price | numberFormat }} {{currency}}</td>
            <td class="text-end">
                <button class="btn btn-warning btn-sm me-2" title="Módosítás" (click)="getPizza(pizza.id)"><i
                        class="bi bi-pencil-fill"></i></button>
                <button class="btn btn-danger btn-sm" title="Törlés" data-bs-toggle="modal"
                    (click)="confirmDelete(pizza.id)"><i class="bi bi-trash3-fill"></i></button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" colspan="7">Összesen <strong class="text-info">{{startIndex+1}}-{{endIndex}}/{{pizzas.length}}</strong> pizza található az
                adatbázisban!</td>
        </tr>
    </tfoot>

    <nav aria-label="Page navigation example" *ngIf="totalPages > 1" class="mx-3 mb-3">
        <ul class="pagination" >
            <li class="page-item">
                <a class="page-link" aria-label="Previous" (click)="setPage(currentPage - 1)"
                    [class.disabled]="currentPage === 1">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"><a class="page-link" (click)="setPage(i+1)"
                    [class.active]="currentPage == i+1">{{i+1}}</a></li>

            <li class="page-item">
                <a class="page-link" aria-label="Next" (click)="setPage(currentPage + 1)"
                    [class.disabled]="currentPage === totalPages">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</table>

<!-- Form Modal -->
<div class="modal fade" id="formModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="formModalLabel" *ngIf="!editMode"><i
                        class="bi bi-plus-circle-fill"></i> Pizza
                    hozzáadása</h1>
                <h1 class="modal-title fs-5" id="formModalLabel" *ngIf="editMode"><i class="bi bi-plus-circle-fill"></i>
                    Pizza
                    módosítása</h1>
                <button type="button" class="btn-close" (click)="cancel()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" [(ngModel)]="pizza.name" id="name"
                        placeholder="Pizza megnevezése">
                    <label for="name">Megnevezés: <sup><em>*</em></sup></label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" [(ngModel)]="pizza.calory" id="calory"
                        placeholder="Kalória">
                    <label for="calory">Kalória (kcal): <sup><em>*</em></sup></label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" [(ngModel)]="pizza.price" id="price" placeholder="Ár">
                    <label for="price">Ár ({{currency}}): <sup><em>*</em></sup></label>
                </div>
                <div class="mb-3" *ngIf="pizza.image == ''">
                    <label for="image" class="form-label">Kép feltöltése</label>
                    <input class="form-control" type="file" id="image" accept="image/*" (change)="onFileSelected($event)">
                  </div>
                  <div class="mb-3" *ngIf="pizza.image != ''">
                    <label for="image" class="form-label">Kép feltöltése</label><br>
                    <img class="piz_kep" src="{{serverUrl}}/uploads/{{pizza.image}}" alt="{{pizza.name}}">
                    <button class="btn btn-danger ms-2" (click)="DeleteImage(pizza.image)"><i class="bi bi-trash3-fill"></i></button>
                  </div>
                <div class="mb-3">
                    <label for="description">Leírás:</label>
                    <textarea class="form-control" id="description" [(ngModel)]="pizza.description"
                        placeholder="Pizza leírása"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancel()"><i class="bi bi-x-circle"></i>
                    Mégsem</button>
                <button type="button" class="btn btn-primary" (click)="save()"><i class="bi bi-floppy-fill"></i>
                    Hozzáadása</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmModalLabel">Veszélyes művelet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Biztonsan törölni szeretnéd ezt a pizzát?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i>
                    Nem</button>
                <button type="button" class="btn btn-danger"><i class="bi bi-check-lg"></i> Igen</button>
            </div>
        </div>
    </div>
</div>

<app-lightbox [imageUrl]="lightboxImageUrl" [visible]="lightboxVisible" (previewClosed)="lightboxVisible = false"></app-lightbox>